In [6]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print('Im not hungry')

FEED ME!

In [12]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

I do not know much.

In [15]:
name = 'Jose'

if name == 'Frankie':
    print("hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

What is your name?

In [16]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [20]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [22]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [23]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [24]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [25]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [1]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [2]:
len(mylist)

4

In [7]:
#Tuple unpacking
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [8]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [9]:
for a,b,c in mylist:
    print(b)

2
6
9

In [13]:
#When you iterate through a dictionary, there is no guarantee things will be in order
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

In [14]:
#While loops will continue to execute a block of code while some condition remains True

In [18]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else: 
    print("X IS NOT LESS THAN 5")

X IS NOT LESS THAN 5

In [19]:
# break, continue, pass
#break: Breaks out of the current closest enclosing loop
#continue: Goes to the top of the closest enclosing loop
#pass: Does nothing at all

In [23]:
x = [1,2,3]

for item in x:
    pass

print ('end of my script')

end of my script

In [2]:
mystring = "Sammy"

In [3]:
for letter in mystring:
    if letter == 'a':
        #continue says go back to the top of the closest loop
        continue
    print(letter)

S
m
m
y

In [4]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [32]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [33]:
mylist = [1,2,3]

In [38]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [40]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [5]:

word = 'abcde'
for item, letter in enumerate(word):
    print(item)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [54]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [56]:
for a,b,c in zip(mylist1, mylist2, mylist3):
    print(b)

a
b
c

In [55]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [59]:
2 in [1,2,3]

True

In [58]:
'x' in ['x','y','z']

True

In [60]:
'a' in 'a world'

True

In [61]:
'mykey' in {'mykey':345}

True

In [64]:
d = {'mykey':345}

345 in d.keys()

False

In [65]:
mylist = [10,20,30,40,100]

In [66]:
min(mylist)

10

In [67]:
max(mylist)

100

In [68]:
from random import shuffle

In [71]:
mylist = [3,4,5,6,7,8,9,10]

In [74]:
random_list = shuffle(mylist)

In [73]:
mylist

[4, 10, 3, 7, 5, 9, 8, 6]

In [76]:
from random import randint

In [77]:
randint(0,100)

70

In [78]:
mynum = randint(0,10)

In [79]:
mynum

1

In [88]:
result = int(input('Favorite Number: '))

Favorite Number: 30

In [89]:
type(result)

int

In [85]:
float(result)

30.0

In [86]:
int(result)

30

In [87]:
result

'30'

In [90]:
mystring = "hello"

In [91]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [92]:
mylist

['h', 'e', 'l', 'l', 'o']

In [93]:
mylist = [letter for letter in mystring]

In [94]:
mylist

['h', 'e', 'l', 'l', 'o']

In [95]:
mylist = [x for x in 'word']

In [96]:
mylist

['w', 'o', 'r', 'd']

In [99]:
mylist = [num**2 for num in range(0,11)]

In [100]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [104]:
mylist

[0, 4, 16, 36, 64, 100]

In [108]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [109]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [110]:
fahrenheit = []

for temp in celcius: 
    fahrenheit.append(( (9/5)*temp + 32))

In [111]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [112]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [113]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [116]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [117]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [118]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [119]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]